:root
{
    --font-Raleway:'Raleway', sans-serif;
    --font-Sans: 'Open Sans', sans-serif;
    --color-main1: #08A6E4;
    --color-main2: #FB3B64;
    --color-main1opacity: #08A6E450;
    --color-main3: #55DFB4;
    --color-black: #000;
    --color-blackopacity: #00000030;
    --color-white: #fff;
    --color-aside1: #707070;
    --color-aside2: #95989A;
    --color-aside3: #A5A5A5;
    --color-background1: #F7F7F7;

}
html
{
    font-size: 16px;
}
.cont
{
    width: 1352px;
    margin-right: auto;
    margin-left: auto;
}
h2
{
    font-family: var(--font-Raleway);
    font-size: 2.3rem;
    color: var(--color-black);
    padding-bottom: 30px;
}
/* section 1 - header */
header
{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-white);
    box-shadow: 0 3px 6px var(--color-blackopacity);
    position: fixed;
    top: 0;
    z-index: 2;
}
header div.cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.cont-logo
{
    font-family: var(--font-Raleway);
    font-size: 2rem;
    font-weight: 300;
    color: var(--color-main1);
}
header ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;;
    align-items: center;
}
header li
{
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.21rem;
    text-transform: uppercase;
    text-align: center;
    padding-left: 50px;
}
header li a
{
    text-decoration: none;
    color: var(--color-aside3);
}
header li a:hover
{
    color: var(--color-black);
    border-bottom: 5px solid var(--color-main1);
    padding-bottom: 22.5px;
}
/* section 2 - banner */
.banner
{
    height: calc(100vh - 208px); /* 100vh - header h - margin-top h*/
    width: 100%;
    background: url("../image/Background.png") bottom/contain no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 138px 0 0 0;
}
.banner a, .banner p, .cont-button
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
h1 a
{
    color: var(--color-black);
    text-decoration: none;
}
h1
{
    font-family: var(--font-Raleway);
    font-size: 3rem;
    font-weight: 400;
}

.banner p
{
    font-family: var(--font-Sans);
    margin: 1.3rem 0 2.4rem 0;
}
.cont-button-1
{
    height: 4.2rem;
    width: 27.5rem;
    background-color: var(--color-main1);
    border-radius: calc(4.2rem / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-button-1 a
{
    font-family: var(--font-Sans);
    color: var(--color-white);
    font-weight: 700;
    text-decoration: none;
}
/* section 3 - popularPlatform */
.popularPlatform
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
}
.cont-header
{
    font-family: var(--font-Raleway);
    font-size: 2.3rem;
    color: var(--color-black);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0;
}
.cont-info
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cont-info-elements
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cont-info-elements-text
{
    height: 5.6rem;
    width: 11rem;
    font-family: var(--font-Raleway);
    text-align: center;
    padding: 10px 25px;
}
.cont-info-elements-img
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 11rem;
    position: relative;
    left: 10%;
    z-index: 1;
}
.cont-info p:not(.paragraph-bold)
{
    color: var(--color-aside3)
}
.paragraph-bold
{
    font-size: 1.25rem;
    font-weight: 800;
    color: var(--color-black);
    letter-spacing: 0.3rem;
    padding-bottom: 10px;
}
.dot1::before
{
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    background-color: var(--color-main2);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 30%;
}
.dot2::before
{
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    background-color: var(--color-main1);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 30%;
}
.dot3::before
{
    content: "";
    display: block;
    height: 63px;
    width: 63px;
    background-color: var(--color-main3);
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 30%;
}
/* section 4 - benefits */
.benefits
{
    background-color: var(--color-background1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.benefits .cont
{
    margin: 106px 0;
}
.cont-img
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-first,
.cont-second
{
    height: 370px;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    position: relative;
}
.cont-first-text
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 90px 0 50px;
    margin: 95px 0;
}
.cont-first p
{
    font-family: var(--font-Sans);
    border-bottom: 5px solid var(--color-main2);
    padding-bottom: 35px;
}
.cont-first img
{
    height: 13.7rem;
    z-index: 1;
}
.cont-first .cont-img
{
    align-self: flex-end;
    padding-bottom: 50px;
}
.cont-first .cont-img::before
{
    content: "";
    display: block;
    height: 200px;
    width: 200px;
    background-color: var(--color-main2);
    border-radius: 40px;
    position: absolute;
    top: 60px;
    right: 140px;
    transform: rotate(45deg);

}
.cont-second-text
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px 0 90px;
    margin: 95px 0;
}
.cont-second p
{
    font-family: var(--font-Sans);
    border-bottom: 5px solid var(--color-main1);
    padding-bottom: 35px;
}
.cont-second img
{
    height: 20rem;
    z-index: 1;
}
.cont-second .cont-img::before
{
    content: "";
    display: block;
    width: 320px;
    height: 320px;
    background-color: var(--color-main1);
    border-radius: 50%;
    position: absolute;
    left: 120px;
}
.cont-third
{
    height: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 95px;
}
.cont-third-left
{
    height: 370px;
    width: 65%;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.cont-third-right
{
    height: 370px;
    width: 35%;
    background-color: var(--color-main3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 30px;
    margin-left: 37px;
}
.cont-third-right img
{
    height: 13rem;
}
.left-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 120px 0 50px;
    margin: 95px 0;
}
.left-text p
{
    font-family: var(--font-Sans);
    border-bottom: 5px solid var(--color-main3);
    padding-bottom: 35px;
}
/* section 5 - prices*/
.pricing
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 95px;
}
.pricing h2
{
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 106px;
    padding-bottom: 50px;
}
.packages
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.packages-basic,
.packages-professional,
.packages-premium
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.pricing h3
{
    font-family: var(--font-Raleway);
    font-weight: 700;
    color: var(--color-black);
}
.packages-price
{
    font-family: var(--font-Sans);
    font-size: 3rem;
    font-weight: 300;
    padding: 15px;
}
.pricing p:not(.packages-price)
{
    font-family: var(--font-Raleway);
    font-size: 0.75rem;
    font-weight: 700;
    color: var(--color-black);
}
.pricing ul
{
    font-family: var(--font-Sans);
    font-size: 0.9rem;
    text-align: center;
    list-style-image: url("../image/Ckechmark-1.svg");
    list-style-position: inside;
    padding-bottom: 30px;
    padding-top: 50px;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.packages-basic li:last-child,
.packages-basic li:nth-last-child(2),
.packages-professional li:last-child
{
    list-style-image: url("../image/Close.svg");
}
.pricing a, button
{
    font-family: var(--font-Sans);
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    position: relative;
    top: 25px;
}
.package
{
    height: 460px;
    width: 370px;
    border-radius: 18px;
    padding-top: 40px;
    position: relative;
    margin: 10px;
}
.packages-basic
{
    border: 2px solid var(--color-main2);
}
.packages-professional
{
    height: 500px;
    width: 405px;
    border: 2px solid var(--color-main1);
    box-shadow: 0 0 30px var(--color-main1opacity);
}
.packages-premium
{
    border: 2px solid var(--color-main3);
}
.packages-basic a
{
    background-color: var(--color-main2);
}
.packages-professional a
{
    background-color: var(--color-main1);
    box-shadow: 0 5px 15px var(--color-main1opacity);;
}
.packages-premium a
{
    background-color: var(--color-main3);
}
/* section 6 - questions */
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
}
.questions .cont
{
    padding: 0 0 50px 0;
    display: flex;
}
.div-questions1,
.div-questions2
{
    flex: 1 1 0;
    padding: 0 80px 50px 80px;
}
.questions p
{
    font-family: var(--font-Sans);
    padding: 20px 0;
}
.questions-contact
{
    display: flex;
}
.questions-contact div
{
    display: flex;
}
.questions-contact p
{
    font-family: var(--font-Sans);
    font-size: 1rem;
    color: var(--color-aside3);
    padding: 20px 30px 20px 10px;
}
.questions form
{
    position: relative;
}
.form-input
{
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-aside1);
}
.form-label
{
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: var(--color-main1);
}
.checkbox
{
    visibility: hidden;
    width: 40%;
}
.questions label:last-of-type
{
    display: flex;
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    color: var(--color-aside1);
}
.questions button
{
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--color-white);
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--color-main1);
    border-radius: 30px;
    position: absolute;
    top: 240px;
    left: 320px;
}
.questions label:last-of-type::before  /* new checkbox */
{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid var(--color-aside2);
    border-radius: 4px;
    position: absolute;
}
.questions label:last-of-type::after
{
    content: "";
    display: block;
    background: url("../image/Checkmark.svg") center/cover;
    width: 15px;
    height: 15px;
    margin: 5px;
    position: absolute;
    top: 140px;
}
/* section 7 - footer*/
.footer
{
    height: 90px;
    background-color: var(--color-white);
    box-shadow: 0 -5px 40px var(--color-blackopacity);
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .cont
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .left > p
{
    font-family: var(--font-Sans);
    font-size: 0.7rem;
    color: var(--color-aside3);
}
.footer .cont-logo
{
    font-size: 1.6rem;
    padding-bottom: 5px;
}
img
{
    padding-left: 20px;
}